@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --progressBar: #54d1db;
}

body {
  background: var(--bodyBg);
}

.spanLikesList:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mySpinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #16d47b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.refreshIcon {
  text-align: center;
}

.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}

.ui.secondary.menu .active.item {
  background: white !important;
}

.ui.secondary.menu {
  border-bottom: 1px solid black !important;
}

.ui.message>:last-child {
  padding-left: 1rem;
  color: black !important;
}

.ui.warning.message {
  color: black !important;
}


/* navbar */
.ui.list .list>.item .header,
.ui.list>.item .header {
  font-family: 'Bebas Neue', 'cursive' !important;
  font-size: 28px;
  color: black !important;
}

.placeholder {
  font-family: 'Roboto Condensed',
  sans-serif !important;
}

.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url] {
  font-family: 'Roboto Condensed',
  sans-serif !important;
}

.ui.form input[type=checkbox],
.ui.form textarea {
  font-family: 'Roboto Condensed',
  sans-serif !important;
}

.ui.form .field>label {
font-family: 'Roboto', sans-serif !important;
font-size: 16px !important;
/* margin: 0px 1.5em 1em !important; */
}

.ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
  /* margin: 0px 1.8em 1em !important; */
}

/* i.map.marker.alternate.icon {
right: -14px !important;
top: -5px !important;
} */

.post-btn {
  background-color: sienna !important;
  font-family: 'Roboto',
  sans-serif !important;
  font-size: 14px !important;
    margin-left: 4% !important;
    margin-right: 2% !important;
}

.ui.form .fields {
  padding-bottom: 4% !important;
  padding-left: 4% !important;
  padding-right: 2% !important;
}

.pic-div {
  margin-left: 4% !important;
  margin-right: 2% !important;
}

.post-username{
  font-family: 'Roboto',
  sans-serif !important;
  color: sienna !important;
}

.ui.card a,
.ui.cards>.card a{
  color: sienna !important;
}

.ui.card .meta,
.ui.cards>.card .meta {
    font-family: 'Roboto Condensed',
    sans-serif !important;
}

.description{
  font-family: 'Roboto',
  sans-serif !important;
}

.metadata{
    font-family: 'Roboto Condensed',
    sans-serif !important;
}

.ui.comments .comment a.author{
    font-family: 'Roboto',
    sans-serif !important;
}

.text{
      font-family: 'Roboto',
      sans-serif !important;
}

.spanLikesList {
  font-family: 'Roboto Condensed',
  sans-serif !important;
}

button.ui.basic.circular.button{
    font-family: 'Roboto',
    sans-serif !important;
    color:sienna !important;
    border-color: sienna !important;
    border: 1px solid sienna !important;
}

.ui.header .content {
  font-family: 'Bebas Neue',
  'cursive' !important;
}

.ui.info.message{
  background-color: darkgray !important;
  color: white  !important;
  box-shadow: none !important;
}

.ui.message p {
    font-family: 'Roboto',
    sans-serif !important;
    color: white !important;
}

.item{
  font-family: 'Roboto',
  sans-serif !important;
}

.ui.header {
    font-family: 'Bebas Neue',
    'cursive' !important;
}

.stretched.row{
  font-family: 'Roboto',
  sans-serif !important;
}

.content{
    font-family: 'Roboto',
    sans-serif !important;
}

.ui.instagram.button {
  background-color:darkgray !important;
  font-family: 'Roboto',
  sans-serif !important;
}

.ui.twitter.button{
  background-color: slategrey !important;
  font-family: 'Roboto',
  sans-serif !important;
}

/* profile page update profile*/
.social-links-btn{
font-family: 'Roboto',
sans-serif !important;
background-color: darkgray !important;
color: white !important;
}

.update-profile-btn{
  font-family: 'Roboto',
  sans-serif !important;
  background-color: slategrey !important;
  color: white !important;
}

.settings-header {
  color: black !important;
}

a.header{
  color: black !important;
}

.ui.list>.item a.header {
  color: black !important;
}

.ui.list .list>.item a.header,
.ui.list>.item a.header {
  color: black !important;
}

.social-links-header {
  font-family: 'Roboto',
  sans-serif !important;
  color: white !important;
}

.update-profile-confirm-btn{
    font-family: 'Roboto',
    sans-serif !important;
      background-color: slategrey !important;
      color: white !important;
}

.update-profile-cancel-btn {
  font-family: 'Roboto',
    sans-serif !important;
background-color: darkgray !important;
  color: white !important;
}

.crop-img-btn {
  font-family: 'Roboto',
sans-serif !important;
    margin-left: 4% !important;
    margin-right: 2% !important;
}